*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Stratos LC Web';
    src: url('../static/stratos/StratosLCWeb-Regular.ttf');
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

body {
    font-family: 'Stratos LC Web', sans-serif;
    font-weight: 400;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    user-select: none;
    background-color: #004980;
    padding-left: 20px;
    padding-right: 20px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .container-start {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #c2f5ff;
            border-radius: 12px;
            max-width: 480px;
            max-height: 459px;
            padding: 20px;

            .title {
                text-align: center;
                height: 96px;
                width: 208px;
                color: #004980;
                font-family: inherit;
                font-weight: 400;
                font-size: 40px;
                line-height: 48px;
            }

            .level {
                display: flex;
                flex-direction: row;
                gap: 24px;
                margin-top: 48px;
                margin-bottom: 67px;

                .block {
                    width: 98px;
                    height: 98px;
                    background: white;
                    border-radius: 12px;
                    color: #0080c1;
                    font-family: inherit;
                    font-size: 64px;
                    line-height: 72px;

                    &:hover {
                        transform: scale(0.8);
                        transition: all 1s ease-out;
                    }
                }

                @media (max-width: 425px) {
                    .block {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }

        .memory-game {
            max-height: 577px;
            max-width: 975px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 15px;
            perspective: 1000px;

            .memory-card {
                position: relative;
                width: 95px;
                height: 133px;
                transform-style: preserve-3d;
                transform: scale(1);
                transition: transform 0.5s;

                &:active {
                    transform: scale(0.97);
                    transition: transform 0.2s;
                }

                &.flip {
                    transform: rotateY(180deg);
                }

                @media (max-width: 615px) {
                    .memory-card {
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }

            .front-face {
                transform: rotateY(180deg);
            }

            .front-face,
            .back-face {
                position: absolute;
                border-radius: 5px;
                background: #1c7ccc;
                backface-visibility: hidden;
            }
        }

        .game-attributes {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 35px;
            flex-direction: row;
            align-items: center;

            .timer-game {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: white;

                &-title {
                    display: flex;
                    flex-direction: row;
                    font-size: 16px;
                    width: 155px;
                    justify-content: space-around;

                    &-time {
                        width: 50%;
                        text-align: end;
                        padding-right: 11px;
                    }
                }
                &-user-time {
                    font-size: 64px;
                }
            }
        }

        .result-container {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            overflow: hidden;
            overflow-y: auto;
            padding: 30px 0;
            z-index: 1000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 100%;
            height: 100vh;
            user-select: none;
            background-color: #004980;
            opacity: 0.9;

            .result-item {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                background-color: #c2f5ff;
                border-radius: 12px;
                width: 480px;
                height: 459px;
                padding: 20px 20px 50px 20px;
                fill: solid;

                &-img {
                    width: 96px;
                    height: 96px;
                }

                &-title {
                    font-family: inherit;
                    font-size: 40px;
                    line-height: 48px;
                    color: #004980;
                }

                &-text {
                    font-family: inherit;
                    font-size: 24px;
                    line-height: 32px;
                    color: #000000;
                }

                &-time {
                    font-family: inherit;
                    font-size: 64px;
                    line-height: 72px;
                    color: #000000;
                }
            }
        }
    }
}

.button {
    width: 246px;
    height: 50px;
    background: #7ac100;
    border-radius: 12px;
    font-size: 24px;
    color: white;
    font-family: inherit;

    &:hover {
        background-color: #417202;
        transition: all 1s ease-out;
    }
}
